<% if @note.is_mine?(session, @note.id)%>
<h1><%= @note.title %></h1>
<p><%= @note.content %></p>


<%= link_to "game page", game_path(@note.scenario.game) %><br>
<%= link_to "scenario page", game_scenario_path(@note.scenario.game, @note.scenario) %><br>

<%= link_to "homepage", user_path %>

<% else %>
<h1>You do not have permission to do this, try again</h1>


<% end %>

<%= link_to "User Homepage", user_path(@user) %><br>
