<%= form_for @game do |f| %>

    <%= f.hidden_field :user_id %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :order %>
    <%= f.text_field :order %><br>

    <h2>Add Scenario</h2>
    
    <%= f.fields_for :scenarios, @game.scenarios.build do |scen| %>

        <%= scen.label :title %>
        <%= scen.text_field :title %><br>
        <%= scen.label :order_number %>
        <%= scen.text_field :order_number %><br>
        <%= scen.label :run_number %>
        <%= scen.text_field :run_number %><br>
        <%= scen.label :complete? %>
        <%= scen.check_box :completion_status %><br>

    <% end %>

        <%= f.submit %>

<% end %>