<h1>Edit character info</h2>

<%= form_for @gamecharacter do |f| %>


<%= f.label :health %>
<%= f.text_field :health %>
<%= f.label :sanity %>
<%= f.text_field :sanity %>
<%= f.label :victory_points_gained %>
<%= f.text_field :victory_points_gained %>
<%= f.label :victory_points_used %>
<%= f.text_field :victory_points_used %>
<%= render 'form' %>

<% end %>