<h1><%= @character.name%></h1>
<h2><%= @character.title %></h2>
Class: <%= @character.category %><br>
Willpower: <%= @character.willpower %><br>
Intellect: <%= @character.intellect %><br>
Combat: <%= @character.combat %><br>
Agility: <%= @character.agility %><br>